.menu {

  background-color: aqua;
  display: flex;

  flex-direction: row;
  justify-content: space-between;
}


.navOpts {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
}